.git
.DS_Store
.gitignore
.cursorignore
.cursor
_参考
dist
**/dist
scripts
deploy
*.md
!**/.env.example
olares-machines.local.yaml
.env
.env.*
node_modules
**/node_modules
.next
**/.next
coverage
**/coverage
